// Header library 
@import 'variable';
._he {
    font-family: $PT-sans;
    font-size: 2em; // default size large
    font-weight: bold;
    color: $hx-silver; // default color
    text-align: left;
    border: none;
    margin: 15px 0 0px 0;
}

// LARGE DEFAULT
._he3 {
    //Heading large normal, left, silver color
    @extend ._he;
}

._he3m {
    //Heading large normal, left, main color
    @extend ._he;
    color: $_main;
}

._he3b {
    //Heading large normal, left, blue
    @extend ._he;
    color: $_blue;
}

._he3bk {
    //Heading large normal, left, black
    @extend ._he;
    font-size: 1.4em;
    color: $hx-black;
}

._he3c {
    //Heading large normal, center, silver
    @extend ._he;
    text-align: center;
}

._he3cm {
    //Heading large normal, center, main
    @extend ._he3m;
    text-align: center;
}

._he3cb {
    //Heading large normal, center, blue
    @extend ._he3b;
    text-align: center;
}

._he3cbk {
    //Heading large normal, center, black
    @extend ._he3bk;
    text-align: center;
}

._he3l {
    //Heading large normal, right, silver
    @extend ._he;
    text-align: right;
}

._he3lm {
    //Heading large normal, right, main
    @extend ._he3m;
    text-align: right;
}

._he3lb {
    //Heading large normal, right, blue
    @extend ._he3b;
    text-align: right;
}

._he3lbk {
    //Heading large normal, right, black
    @extend ._he3bk;
    text-align: right;
}

// MEDIUM 
._he3m3 {
    //Heading medium normal, left, silver color
    @extend ._he;
    font-size: 1.2em;
}

._he3m3m {
    //Heading medium normal, left, main color
    @extend ._he;
    color: $_main;
    font-size: 1.2em;
}

._he3m3b {
    //Heading medium normal, left, blue
    @extend ._he;
    color: $_blue;
    font-size: 1.2em;
}

._he3m3bk {
    //Heading medium normal, left, black
    @extend ._he;
    color: $hx-black;
    font-size: 1.2em;
}

._he3m3c {
    //Heading medium normal, center, silver
    @extend ._he;
    text-align: center;
    font-size: 1.2em;
}

._he3m3cm {
    //Heading medium normal, center, main
    @extend ._he3m;
    text-align: center;
    font-size: 1.2em;
}

._he3m3cb {
    //Heading medium normal, center, blue
    @extend ._he3b;
    text-align: center;
    font-size: 1.2em;
}

._he3m3cbk {
    //Heading medium normal, center, black
    @extend ._he3bk;
    text-align: center;
    font-size: 1.2em;
}

._he3m3r {
    //Heading medium normal, right, silver
    @extend ._he;
    text-align: right;
    font-size: 1.2em;
}

._he3m3rm {
    //Heading large normal, right, main
    @extend ._he3m;
    text-align: right;
    font-size: 1.2em;
}

._he3m3rb {
    //Heading medium normal, right, blue
    @extend ._he3b;
    text-align: right;
    font-size: 1.2em;
}

._he3m3rbk {
    //Heading medium normal, right, black
    @extend ._he3bk;
    text-align: right;
    font-size: 1.2em;
}

// SMALL 
._he3x3 {
    //Heading small normal, left, silver color
    @extend ._he;
    font-size: 1em;
}

._he3x3m {
    //Heading small normal, left, main color
    @extend ._he;
    color: $_main;
    font-size: 1em;
}

._he3x3b {
    //Heading small normal, left, blue
    @extend ._he;
    color: $_blue;
    font-size: 1em;
}

._he3x3bk {
    //Heading small normal, left, black
    @extend ._he;
    color: $hx-black;
    font-size: 1em;
}

._he3x3c {
    //Heading small normal, center, silver
    @extend ._he;
    text-align: center;
    font-size: 1em;
}

._he3x3cm {
    //Heading small normal, center, main
    @extend ._he3m;
    text-align: center;
    font-size: 1em;
}

._he3x3cb {
    //Heading small normal, center, blue
    @extend ._he3b;
    text-align: center;
    font-size: 1em;
}

._he3x3cbk {
    //Heading small normal, center, black
    @extend ._he3bk;
    text-align: center;
    font-size: 1em;
}

._he3x3r {
    //Heading small normal, right, silver
    @extend ._he;
    text-align: right;
    font-size: 1em;
}

._he3x3rm {
    //Heading small normal, right, main
    @extend ._he3m;
    text-align: right;
    font-size: 1em;
}

._he3x3rb {
    //Heading small normal, right, blue
    @extend ._he3b;
    text-align: right;
    font-size: 1em;
}

._he3x3rbk {
    //Heading small normal, right, black
    @extend ._he3bk;
    text-align: right;
    font-size: 1em;
}