@import 'variable';
@import 'grid';
@import 'button';
@import 'header';
@import 'typography';
@import 'table';

input[type="text"], input[type="password"]{
    border-radius: 3px;
    border: .5px solid rgba($rgb-silver,.5);
    outline: none;
    padding: 10px 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
}
input[type="text"]:focus, input[type="password"]:focus {
    border: .5px solid rgba($rgb-silver,1);
}

._cn input[type="password"]{
    margin-bottom: 24px;
    padding-right: 36px;
}

// Description class
._d{
    font-size: 1em;
    color: $hx-black;
}
._d3c3m{
    color: rgba($rgb-black, .5);
    text-align: left;
    padding: 12px;
}

._d5m{
    @extend ._d;
    text-align: center;
    line-height: 24px;
    margin-bottom: 24px;
}
._d5ab{
    @extend ._d;
    text-align: left;
}
// Typography
._bd{
    font-weight: bold;
}
// Message Class
._me{
    font-size: 11.5px;
    color: rgba($rgb-black, .5);
}

._me3c{
    font-size: 11.5px;
    text-align: center;
    color: rgba($rgb-silver,1);
}
._me3b{
    @extend ._me;
    color: $_blue;
}
._me5ts{
    color: $text-color;
    font-size: .8em;
    margin-top: 25px;
    text-align: right;
}
._me5t{
    @extend ._me;
    margin: 5px;
}
._me5f{
    @extend ._me;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}
._me5i{
    @extend ._me;
    text-align: left;
    font-size:1em;
}

._me3m{
    @extend ._me;
    color: $hx-white;
    font-family: $PT-sans;
    font-weight: 100;
}

._me3v{
    @extend ._me;
    text-align: center;
}
._me3l{
    @extend ._me;
    text-align: left;
}
._me3xl{
    @extend ._me;
    text-align: left;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
._me3i{
    @extend ._me3xl;
    font-weight: bold;
    color: $text-color;
}
._me3sm{
    font-size: 9px;
}
// Block Class
._bl{
    padding: 0;
    height: 100%;
}

._bl5b{
    width: 100%;
    height: 200px;
    //background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: url('/img/BG.png');
    background-size: cover;
}
._bl5c{
    width: 100%;
    height: 200px;
    //background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: url('/img/BG.png');
    background-size: cover;
}


// Containter Class
._cn5g{
    position: relative;
    i[class="fa fa-eye"]{
        position: absolute;
        top: 35%;
        right: 15px;
        color: $hx-black;
        font-weight: normal;
        cursor: pointer;
    }
}
._cn3l{
    @extend ._cn;
}
._cn3r{
    @extend ._cn;
}
._cn5n{
    display: inline-block;
}
._g{
    margin: -15px;
    margin-top:20px;
}
._g3l5m{
    @extend ._g;
    background: $_blue;
    height: 200px;
    max-height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
._g3r5m{
    @extend ._g;
    background: $_1grey;
    height: 200px;
    max-height: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


@media (min-width: 992px) {
    ._f5a{
        height: 100%;
        background: url('/img/BG.png');
        background-size: cover;
    }
    ._f5a{
        ._bl{
            height: auto;
            margin-top: 180px;
            background-color: rgba($rgb-white, 1);
            border-radius: 10px;
        }
        ._bl5b{
            position: absolute;
            width: 33.33333333%;
            height: 100%;
            background: url('/img/lab.jpg');
            opacity: .9;
            background-size: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        ._bl5c{
            width: 0;
            height: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    ._n{
        margin: 0;
        padding: 0;
        display: inline-block;
        visibility: visible;
        height: 100%;
        background-color: $_dblue;
        position: fixed;
        left: 0;
        top: 0;
        width: auto;
        overflow: auto;
        z-index: 1;
        list-style-type: none;
        box-shadow: 0.5px 0.5px 1px $hx-black;
        margin-left: 0;
        -webkit-transition: all 0.5s linear; /* Safari and Chrome */
        li{
            padding: 15px;
            a{
                text-decoration: none;
                color: $hx-white;
                font-size: 30px;
                text-align: center;
                i{
                    text-align: center;
                }
            }
            &:hover{
                color: $hx-white;
                background-color: $_blue;

            }
        }  
        ._n3a{
            color: $hx-white;
            background-color: $_blue;
        }
    }
    ._n51{
        height: 75%;
    }
    ._n52{
        height: 25%;
    } 
    // Padding none
    ._pd5n{
        padding-left: 0;
        padding-right: 0;
    }
    ._pd5m3n{
        padding-left: 100px;
    }
    ._pd5m3nr{
        padding-right: 15px;
    }
    
    ._he5md{
        font-size: 1.3em;
    }
    ._me5ts{
        font-size: 1em;
    }
    // Section Web
    ._se{
        ._se5t{
            font-size: 1.1em;
        }
        ._se5ct{
            font-size: 1em;
        }
        ._se5c{
            font-size: 1em;
        }
        ._se5i{
            width: 1em;
        }
        ._se5m{
            font-size: .9em;
        }
        ._se5xl{
            font-size: 3em;
        }
    }
    ._md5cu{
        padding : 0 50px 50px 50px;
        input[type="text"]{
            
        }
        ._md5i{
            padding-top: 50px;
            padding-bottom: 50px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    ._ta5l{
        margin-left: 15px;
        margin-right: 15px;
    }
}

// Image
._i{
    margin: 0;
    padding: 0;
}
._i3c{
    @extend ._i;
    width: 25px;
}
._i3ce{
    width: 50px;
    display: block;
    margin: auto;
}
._i5h{
    font-size: 2em;
    margin-left: 0px;
    margin-top: 20px;
    display: inline-block;

}
._i5m{
    @extend ._i;
    margin-top: 76px;
    width: 157px;
}

._i5c3m{
    @extend ._i;
    margin-top: 76px;
}
._i3tb{
    margin: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: $hx-blue;
    object-fit: contain;
}
._i3tb3b{
    @extend ._i3tb;
    margin: 10px 0px 10px 0px;
    width: auto;
    height: auto;
    max-width: 60px;

}
._i3s{
    margin: 10px 0px 10px 0px;
    border-radius: 5%;
    width: 100%;
    height: auto;
    max-width: 150px;
}
._i3as{
    width: 100%;
    height: auto;
    max-height: 50px;
    object-fit: cover;
}

// Padding 
._pd{
    padding:0;
}
._pd315{
    padding: 15px;
}

._pd320{
    padding: 20px;
}

// allign
._al3tc{
    text-align: center;
}
._al3tl{
    text-align: left;
}
._al3tr{
    text-align: right;
}

// Margin None
._mr5n{
    margin-left: 0px;
    margin-right: 0px;
}

._mr5nb{
    margin-top: 15px; 
    margin-bottom: 0px; 
}

._mr5nt{
    margin-top: 0px; 
}

//margin add
._mr5a{
    margin-bottom: 15px;
}


//footer 
._f{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/img/BG.png');
    background-size: cover;
    width: 100%;
    height: 60px;
}
._f5m {
   height: 100%; 
   background-color: $_1grey;
}  
._f5a{
    height: 100%;
    background-color: $_1grey;
}
// Section 
._se{
    position: relative;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 1px $hx-silver;
    margin: 15px 15px 15px 15px;
    ._ro:last-child{
        padding-bottom: 35px;
    }
    ._se5t{
        color: $hx-black;

    }
    ._se5ct{
        color: $hx-black;
        overflow: hidden;
        white-space: nowrap;
    }
    ._se5c{
        color: $hx-black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    ._se5c3b{
        @extend ._se5c;
        color: $text-color;
        font-weight: bold;
    }
    ._se5xl{
        font-size: 3em;
        color: $text-color;
    }
    
    ._se5i{
        width: 1em;
        margin-top: 10px;
        
    }
    ._se5m{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        color: $text-color;
        font-weight: normal;
        cursor: pointer;
    }
}
._se3a{
    background-color: $hx-white;
}
._se3b{
    background-color: $_2grey;
}
._se3s{
    background-color: $hx-white;
}
._se3n{
    background-color: $_1grey;
}
._se3dr{
    background-color: $hx-gray;
}


// Icon 
._ic{
    color: $text-color;
    margin-top: 15px;
}
._ic5a{
    color: $hx-green;
}

// Desc
._de3n{
    margin-top: 0px;
}

@media (max-width: 992px){
    //Navbar 
    ._n{
        margin: 0;
        padding: 0;
        display: inline-block;
        visibility: hidden;
        height: 100%;
        background-color: $_dblue;
        position: fixed;
        left: 0;
        top: 0;
        width: auto;
        overflow: auto;
        z-index: 1;
        list-style-type: none;
        box-shadow: 0.5px 0.5px 1px $hx-black;
        margin-left: -60px;
        -webkit-transition: all 0.5s linear; /* Safari and Chrome */
        li{
            padding: 15px;
            a{
                text-decoration: none;
                color: $hx-white;
                text-align: center;
                font-size: 25px;
                i{
                    text-align: center;
                }
            }
            &:hover{
                color: $hx-white;
                background-color: $_blue;
            }
            ._n3a{
                color: $hx-white;
                background-color: $_blue;
            }
        }  
    }
    ._n51{
        height: 70%;
    }
    ._n52{
        height: 30%;
    } 
    ._cn5n:hover ul {
        visibility: visible;
        margin-left: 0px;
    }
    ._se{
        margin-left: 0px;
        margin-right: 0px;
        ._se5t{
            font-size: .9em;
        }
        ._se5ct{
            font-size: .9em;
        }
        ._se5c{
            font-size: .9em;
        }
        ._se5m{
            font-size: .9em;
        }
        ._se5xl{
            font-size: 1.5em;
        }
    }
    ._d5ab{
        font-size: .8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    //padding
    ._pdx3n{
        padding-left: 0;
        padding-right: 0;
    }
}
// Modal 
._md{
    padding : 30px;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba($rgb-black, .4);
    ._md5cu{
        box-shadow: 0 4px 8px 0 rgba($rgb-black, .2), 0 6px 20px 0 rgba($rgb-black, 0.19);
        background-color: rgba($rgb-white, 1);
        z-index: 100;
        border-radius: 5px;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 15px;
        input[type="text"]{
            border: none;
            border-bottom: 1px solid $hx-silver;
            border-radius: 0px;
            padding: 0px;
            &:focus{
                border-bottom: 3px solid $_blue;
            }
        }
        ._md5i{
            background-color: $_1grey;
            border: 2px dashed $_2grey;
            position: relative;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
            input[type="file"]{
                opacity: 0;
                position: absolute;
                outline: none;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
._md5s{
    @extend ._md;
    display: none;
    
}
.__x{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.__wr{
    cursor: pointer;
    &:hover{
        font-weight: bold;
    }
}
._ta{
    ._ta5l{
        padding: 0;
        list-style-type: none;
        li{
            display: inline;
            border-left: 1.5px solid $hx-silver; 
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
            &:first-child{
                border-left: none;
                padding-left: 0px;
            }
            &:hover{
                color: $_blue !important;
                font-weight: bold;        
            }
            a{
                @extend ._ct;
                color: $hx-silver;
            }
        }
    }
    ._ta5l3a{
        color: $_blue !important;
        font-weight: bold;
    }
}
