@mixin fill-available() {
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: -ms-fill-available;
    height: fill-available;
}

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}