@import 'variable';
@import 'grid';

input[type="text"], input[type="password"]{
    border-radius: 3px;
    border: .5px solid rgba($rgb-silver,.5);
    outline: none;
    padding: 12px 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
}
input[type="text"]:focus, input[type="password"]:focus {
    border: .5px solid rgba($rgb-silver,1);
}

._cn input[type="password"]{
    margin-bottom: 24px;
    padding-right: 36px;
}

// Header Class 
._he{
    font-size: 2.2em;
    color: $text-color;
    margin: 0;
}
._he3p{
    @extend ._he;
    margin-top: 30px;
}

// Message Class
._me{
    font-size: 11.5px;
    color: rgba($rgb-black, .5);
}
._me5t{
    @extend ._me;
    margin: 5px;
}
._me5f{
    @extend ._me;
    padding-top: 20px;
    text-align: center;
}

// Block Class
._bl{
    margin: 0;
    padding: 0;
}

._bl5b{
    width: 100%;
    height: 200px;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

// Containter Class
._cn5g{
    position: relative;
    i[class="fa fa-eye"]{
        position: absolute;
        top: 35%;
        right: 15px;
        color: $hx-black;
        font-weight: normal;
        cursor: pointer;
    }
}
// Button Class
._bt{
    border-radius: 3px;
    font-family: $helvetica;
    border: none;
    padding: 8px 20px;
    color: white;
    width: 100%;
    font-weight: normal;
}
._bt3p{
    @extend ._bt;
    background-color: $text-color;
}
@media (min-width: 992px) {
    body{
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    }
    ._bl5b{
        width: 0;
        height: 0;
        background: none;
    }
    ._bl{
        margin-top: 25%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba($rgb-white, 1);
    }
}