
// Color Variable
// Hexadecimal
$hx-white:  #FFFFFF;
$hx-silver: #C0C0C0;
$hx-gray:   #808080;
$hx-black:  #000000;
$hx-red:    #FF0000;
$hx-maroon: #800000;
$hx-yellow: #FFFF00;
$hx-olive:  #808000;
$hx-lime:   #00FF00;
$hx-green:  #008000;
$hx-aqua:   #00FFFF;
$hx-teal:   #008080;
$hx-blue:   #0000FF;
$hx-navy:   #000080;
$hx-fuchsia:#FF00FF;
$hx-purple: #800080;

// RGBA
$rgb-white:     rgb(255, 255, 255);
$rgb-silver:    rgb(192, 192, 192);
$rgb-gray:      rgb(128, 128, 128);
$rgb-black:     rgb(0,0,0);
$rgb-red:       rgb(255, 0, 0);
$rgb-maroon:    rgb(128, 0, 0);
$rgb-yellow:    rgb(255, 255, 0);
$rgb-olive:     rgb(128, 128, 0);
$rgb-lime:      rgb(0, 255, 0);
$rgb-green:     rgb(0, 128, 0);
$rgb-aqua:      rgb(0, 255, 255);
$rgb-teal:      rgb(0, 128, 128);
$rgb-blue:      rgb(0, 0, 255);
$rgb-navy:      rgb(0, 0, 128);
$rgb-fuchsia:   rgb(255, 0, 255);
$rgb-purple:    rgb(128, 0, 128);

//

// Font Variable
$sans-serif: sans-serif;
$helvetica: "Helvetica";
$arial: "Arial";
$helvetica-neue: "Helvetica Neue";
